#todo {
    .MuiButton-root .MuiButton-label a {
        color: #fff;
        text-decoration: none;
    }

    .MuiFormGroup-root {
        & > * + * {
            margin-top: 30px;
        }
    }

    .center-content {
        height: calc(100vh - 200px);
    }

    .text-center {
        text-align: center;
    }
}
